#title_bar
	%span.breadcrumb
		%a{:href => "/"} Apps
		%span.breadcrumb_sep /
	%h2#page_title Edit App
.without_sidebar#content
	.main_content_wrapper
		.main_content
			%form{:method => "post", :action => "/facebook_apps/#{@app.id}", "accept-charset" => "UTF-8"}
				%fieldset.inputs
					%ol
						%li.string.required#app_name_input
							%label{:for => "app_name"} App Name
							%input{:type => "text", :name => "app[name]", :id => "app_name", :maxlength => "255", :value => @app.name}
						%li.string.required#app_app_id_input
							%label{:for => "app_app_id"} App Id
							%input{:type => "text", :name => "app[app_id]", :id => "app_app_id", :maxlength => "255", :value => @app.app_id}
						%li.string.required#app_app_secret_input
							%label{:for => "app_app_secret"} App Secret
							%input{:type => "text", :name => "app[app_secret]", :id => "app_app_secret", :maxlength => "255", :value => @app.app_secret}
						%li.string.required#app_app_secret_input
							%label{:for => "app_app_secret"} URL
							%input{:type => "text", :name => "app[url]", :id => "app_url", :maxlength => "255", :value => @app.url}	
				%fieldset.buttons
					%ol
						%li.commit
							%input{:id => "app_submit", :class => "create", :type => "submit", :name => "commit", :value => "Submit"}
											