!!!
%html
  %head
    %title Facetest - Test accounts right in your face
    %meta{"http-equiv" => "Content-type", :content => "text/html; charset=utf-8"}
    %link{:type => "text/css", :href => "/css/styles.css", :rel => "stylesheet", :media => "screen"}
  %body.index
    #wrapper
      #header
        %h1#site_title Facetest
      #title_bar
        %h2#page_title Dashboard
      .without_sidebar#content
        .main_content_wrapper
          .main_content= yield
